:root {
    --color-player-one: #097FC5;
    --color-player-two: #F58E39;
    --start-btn: #F0EA6E;
    --background-color: #303131;

    --footer-color: white;
    --max-width: 1440px;

    --border-radius: 8px;
}